.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-content {
  margin-top: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-image {
  width: 50%;
  border-radius: 10px;
}

.article-title {
  margin: 20px 0;
}

.article-rating {
  margin: 20px 0;
}

.article-author {
  margin: 30px 0;
  font-size: 20px;
}
