.navigation-bar {
  background: #f15152;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-logo {
  width: 115px;
  padding: 10px;
}

.notifications-button {
  background: none;
  border: none;
  cursor: pointer;
}

.notifications-button > img {
  width: 30px;
}

.nav-bar-item {
  text-decoration: none;
  margin: 0 0 0 100px;
}

.current-page {
  text-decoration: underline;
}
