.post-box {
  max-width: 100%;
  max-height: 160px;
  margin-bottom: 20px;
}

.post-content {
  display: flex;
  border: 1px solid #c5c5c5;
  padding: 5px;
}

.post-image {
  width: 160px;
  margin: 0;
}

.post-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
}

.post-title-description-box {
  max-height: 90px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.post-description {
  font-size: 14px;
  max-height: 80%;
}

.post-data {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.post-data-text {
  color: #5b5b5b;
  font-size: 11px;
}
