.link {
  text-decoration: none;
  font-family: 'Poppins';
}

.link-black {
  color: #000;
}

.link-white {
  color: #fff;
}

.link-gray {
  color: #5b5b5b;
}

.link-red {
  color: #f15152;
}

.link-underline {
  text-decoration: underline;
}
