.button {
  padding: 10px 60px;
  font-family: 'Poppins';
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 20px 0;
}

.primary-button {
  background: #f15152;
  color: #fff;
  transition-duration: 0.2s;
}

.primary-button:hover {
  transition-duration: 0.2s;
  border: 1px solid #f15152;
  color: #f15152;
  background: #fff;
}

.secondary-button {
  border: 1px solid #f15152;
  color: #f15152;
  background: #fff;
  transition-duration: 0.2s;
}

.secondary-button:hover {
  transition-duration: 0.2s;
  background: #f15152;
  color: #fff;
}
